*{
    font-family: Garamond;
    
}
nav{
    display: flex;
}
header{
    background-color: tomato;
    color:white;
    text-align: center;
    width: 100%;
    height: 80px;
}
main{
    width: 80%;
    height: 600px;
}
aside{
    background-color: coral;
    width:20%;
    height: 680px;
    float:right;
    margin-top: 20px;
}
footer{
    background-color: tomato;
    color:white;
    text-align: center;
    margin-top:50;
}
img{
    border-radius: 50%;
    padding-left:10px;
    padding-right:10px;
}
#text{
         overflow: scroll;
   border:1px solid tomato; margin:15px;
    height: 470px;
   
}

.Jolanta, .Krzysiek{
    border-radius:5px;
    width:90%;
    height: 70px;
    margin:2%;
    padding: 3px;
}
.Jolanta{
    background-color: #eee;display: flex;
}
.Krzysiek{
    background-color: #ccc;
    text-align: right;
}
.Krzysiek img {
    float:right;
}
button{
    background-color: tomato;
    border:solid 1px darkred;
    font-weight: bold;
    padding:5px;
}
input{
    width:500px;
}

nav {
    display: flex;
}
